/* General styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.822);
}

/* Grid Container and Grid items styling */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
}

.movie-searchbar {
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.movie-searchbar input {
  padding: 1rem;
  width: 50%;
  border-radius: 10px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.822);
}

.movie-searchbar input::placeholder {
  font-size: 1.2rem;
}

.movie-searchbar button {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.575);
  color: red;
}

.movie-searchbar button:hover {
  cursor: pointer;
  background-color: black;
}

.title-and-poster {
  height: 90vh;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  display: none;
}

.title-and-poster h1 {
  font-size: 2rem;
  color: red;
}

.title-and-poster img {
  width: 80%;
  height: 80%;
}

.movie-details {
  grid-column: 3/5;
  display: flex;
  align-items: center;
  padding: 2rem;
  display: none;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 70%;
  gap: 2rem;
  padding: 2rem 1rem;
}

.movie-details-container span {
  font-size: 1.1rem;
  color: red;
}

#year,
#genre,
#cast,
#duration,
#language,
#rating,
#plot {
  color: white;
  font-size: 1.1rem;
}

.error-message-container {
  position: absolute;
  right: 40rem;
  bottom: 25rem;
  display: none;
}

.error-message-container span {
  font-size: 4rem;
  color: red;
}
